@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-top: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.images-section {
    width: 400px;
    height: 70vh;
    text-align: center;
    margin-top: 3rem;
}
.images-section img {
    width: 370px;
    max-width: 100%;
    height: 100%;
}

.form-section {
    width: 500px;
    max-width: 100%;
    margin-top: 3rem;
    margin-left: 2.5rem;
}
.form-section h2 {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 500;
}
.form__input {
    margin-top: 2rem;
    width: 100%;
    position: relative;
}
.form__input input {
    border: none;
    border-bottom: 3px solid #000000;
    width: 100%;
    height: 2rem;
    padding: 20px 0;
    font-size: 1rem;
    color: #7A7A7A;
    outline: none;
    background: none;
}
.form__input label {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    font-size: 1rem;
    padding: 16px 0;
    transition: 0.5s;
    color: #7A7A7A;
    text-transform: none;
    font-weight: 500;
}
.form__input input:focus + label,
.form__input input:valid + label {
    top: -23px;
    font-size: 0.7rem;
    font-weight: 700;
}
.form__input textarea {
    border: none;
    width: 100%;
    border-bottom: 3px solid #000000;
    height: 6rem;
    outline: none;
    resize: none;
}
.form__input textarea + label {
    top: 0;
    padding-top: 0;
}
.form__input textarea:focus + label {
    top: -16px;
    font-size: 0.7rem;
    font-weight: 700;
}
.form__button {
    display: flex;
    justify-content: center;
}
input[type="submit"] {
    margin: 2rem auto;
    padding: 0.5rem 3rem;
    font-size: 1rem;
    background: none;
    border: 2px solid #000000;
    border-radius: 8px;
    letter-spacing: 1px;
    font-weight: 500;
    outline: none;
}
input[type="submit"]:hover {
    background: #333;
    color: #fff;
    border: 2px solid #333;
}
.form-section__footer {
    display: flex;
    margin-top: 1.5rem;
    justify-content: center;
    align-items: center;
}
.form-section__footer p {
    text-transform: none;
    font-weight: 500;
    font-size: 0.8rem;
}
.icons {
    display: flex;
}
.icons i {
    margin: 0 1rem;
    font-size: 1.4rem;
    color: #333;
}
.icons .fa-facebook {
    margin-left: 8px;
}

@media (max-width: 640px) {
    main {
        flex-direction: column;
        align-items: center;
    }
    .images-section {
        width: 80vw;
        margin-top: 20px;
    }
    .form-section {
        width: 80vw;
        margin: 0;
    }
}