footer {
  margin-top: 70px;
	background: #1f1f1f;
  color: #fff;
  padding: 30px 10%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.icons-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


.icons-socials h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
}

.icons-socials h3 {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 30px;
}




footer svg {
	width: 20px;
	height: 20px;
	color: #fff;
	margin: 0 1em;
}

.contact-info {
  display: flex;
	flex-direction: column;
	justify-content: center;
  text-align: center;
}

.contact-info h2 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 22px;
	color: #F5F5F5;
	margin-bottom: 0.5em;
}

footer address {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 29px;
	color: #F5F5F5;
}

.contact-info a {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 29px;
	color: #F5F5F5;
}


@media (max-width: 508px) {
  footer {
    flex-direction: column;
    align-items: center;
  }

  .icons-socials {
    margin-bottom: 20px;
  }
}