* {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0em;
    padding: 0em;
    font-family: 'Montserrat', sans-serif;
}

button {
    font-family: 'Montserrat', sans-serif;
    height: 35px;
    background: transparent;
    color: #ffffff;
    text-transform: uppercase;
    border: 2px solid #ffffff;
}

ul {
    list-style: none;
    padding: 0em 1em;
}

h1{
    width: 50%;
    font-size: lighter;
    margin-left: 2em;
}
/* ------------------- CAROUSEL ----------------------------- */
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}


.item:nth-child(1) {
    background: url("/img/image-1.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.item:nth-child(2) {
    background: url("/img/image-2.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.item:nth-child(3) {
    background: url(/img/img-3.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel {
    z-index: -99;
}

.carousel, .carousel .item {
    position: fixed;
    width: 100%;
    height: 100%;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* ---------------------HEADER --------------------------- */
.header {
    width: 100%;
    height: 100vh;
    color: #ffffff;
    text-transform: uppercase;
}

.header header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header header img {
    width: 100px;
}

nav, nav .nav, nav .lang {
    display: flex;
    align-items: center;
}

nav .nav li, nav .lang li {
    margin: 10px;
    font-size: .9em;
    font-weight: lighter;
}

nav .nav li.active, .counter > ul > .active {
    font-weight: bold;
}

nav .lang li.active{
    border: 1px solid #ffffff;
    padding: 7px;
    font-weight: bold;
    border-radius: 100%;
}

.header header .hamburger {
    width: 30px;
}

.header .container {
    position: absolute;
    top: 0%;
    z-index: -1;
}

.header h1 > span {
    font-family: 'Lobster', cursive;
    letter-spacing: .35em;
}

.header .gray-div {
    width: 20%;
    height: 30vh;
    background-color: #1f1f1f;
}

.header .gray-div.second {
    height: 40vh;
    padding: 1em 1em 1em 2.5em;
}

.gray-div.second .booking-cont {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: lighter;
}

.counter > ul {
    display: flex;
    margin: 0em;
}

.social {
    position: absolute;
    right: 0;
    bottom: 0;
}

.social > span > a {
    text-decoration: none;
    color: #ffffff;
}

.counter > ul > li {
    margin: 5px;
}